<div class="slider">
  <!-- <input name="slide" type="radio" id="slide1" checked />
  <input name="slide" type="radio" id="slide2" />
  <input name="slide" type="radio" id="slide3" /> -->

  <div class="slider-content">
    <div class="slider-item">
      <img src="{{ '../../../../assets/img/img.png' }}" alt="" />
    </div>
    <div class="slider-item">
      <img src="{{ '../../../../assets/img/img6.jpg' }}" alt="" />
    </div>
    <div class="slider-item">
      <img src="{{ '../../../../assets/img/img4.jpeg' }} " alt="" />
    </div>
  </div>
  <div class="navigation">
    <label for="slide1"></label>
    <label for="slide2"></label>
    <label for="slide3"></label>
  </div>
</div>
